<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=" http://www.gstatic.com/firebasejs/live/3.1/firebase.js "></script>
    <link rel="stylesheet" href="../static/css/registro.css">

    <title>Registro de usuario</title>
</head>
<body>
  
    <form action="/registro_usuario" method="POST">
      <div class="form"> 
        <div class="mensaje_error">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          {{ message }}
          {% endfor %}
          {% endif %}
          {% endwith %} 
      </div>
        
        <input id="txtEmail" autocomplete="on" placeholder="Nombre" type="name" name="nombre">
        <input id="txtEmail" autocomplete="on" placeholder="Apellido" type="name" name="apellido">
        <input id="txtEmail" autocomplete="on" placeholder="Email" type="email" name="correo">
        <input id="txtPassword" placeholder="Contraseña" type="password" name="contraseña">
        <button id="btnSignUp" class="btn btn-action">Registrarse</button>

      </div>
    </form>

</body>
</html>